# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# docs
docs/

# security
.env

# synbolic links
lambda_functions/immediate-response/lingual_manager.py
lambda_functions/ai_processing/lingual_manager.py

# misc
venv/
.aws-sam/
.venv/
vector_db_files/
samconfig.toml

# Local built
**/bootstrap
.aws-sam/